$current: currentColor;
$black: #000000;
$white: #ffffff;

$greenHighlight: #eaf8eb;
$green500: #1fa32a;

$gray50: #f8f9f9;
$gray100: #f1f2f3;
$gray200: #dbdfe2;
$gray300: #c6cbd0;
$gray400: #9ba4ad;
$gray500: #707d8a;
$gray600: #65717c;
$gray700: #545e68;
$gray800: #434b53;
$gray900: #373d44;

$blueHighlight: #d8e4fa;
$blue50: #f5f8fe;
$blue100: #ebf1fe;
$blue200: #ccdbfc;
$blue300: #adc5fa;
$blue400: #709af7;
$blue500: #326ff3;
$blue600: #2d64db;
$blue700: #2653b6;
$blue800: #1e4392;
$blue900: #193677;
