.tooltip {
	position: relative;
}

.tooltip:before {
	@apply st-bg-gray-900;
	content: attr(data-tip);
	border-radius: 4px;
	padding: 4px 6px;
	color: white;
	position: absolute;
	top: calc(100% + 4px);
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s ease-in;
	opacity: 0;
	display: none;
	white-space: pre;
	font-size: 0.9em;
	word-wrap: break-word;
	text-align: center;
	width: auto;
	max-width: 360px;
	-webkit-font-smoothing: subpixel-antialiased;
}

.tooltip:after {
	@apply st-text-gray-900;
	position: absolute;
	z-index: 1000001;
	opacity: 0;
	display: none;
	width: 0;
	height: 0;
	pointer-events: none;
	content: '';
	border: 5px solid transparent;
	top: auto;
	right: 50%;
	bottom: -4px;
	margin-right: -5px;
	border-bottom-color: #373d44;
}

.tooltip:hover:before,
.tooltip:hover:after {
	display: block;
	animation: fadeIn 0.2s ease-in 0.7s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
